<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>豆瓣榜单</string>
		<array>
			<dict>
				<key>name</key>
				<string>豆瓣250</string>
				<key>id</key>
				<string>10101</string>
			</dict>
			<dict>
				<key>name</key>
				<string>热门推荐(非虚构)</string>
				<key>id</key>
				<string>10102</string>
			</dict>
			<dict>
				<key>name</key>
				<string>热门推荐(虚构)</string>
				<key>id</key>
				<string>10103</string>
			</dict>
			<dict>
				<key>name</key>
				<string>新书推荐(非虚构)</string>
				<key>id</key>
				<string>10104</string>
			</dict>
			<dict>
				<key>name</key>
				<string>新书推荐(虚构)</string>
				<key>id</key>
				<string>10105</string>
			</dict>
		</array>
	</array>
	<array>
		<string>小说</string>
		<array>
			<dict>
				<key>name</key>
				<string>综合</string>
				<key>id</key>
				<string>110101</string>
			</dict>
			<dict>
				<key>name</key>
				<string>最新</string>
				<key>id</key>
				<string>110102</string>
			</dict>
			<dict>
				<key>name</key>
				<string>评价</string>
				<key>id</key>
				<string>110103</string>
			</dict>
		</array>
	</array>
	<array>
		<string>外国文学</string>
		<array>
			<dict>
				<key>name</key>
				<string>综合</string>
				<key>id</key>
				<string>110201</string>
			</dict>
			<dict>
				<key>name</key>
				<string>最新</string>
				<key>id</key>
				<string>110202</string>
			</dict>
			<dict>
				<key>name</key>
				<string>评价</string>
				<key>id</key>
				<string>110203</string>
			</dict>
		</array>
	</array>
	<array>
		<string>青春</string>
		<array>
			<dict>
				<key>name</key>
				<string>综合</string>
				<key>id</key>
				<string>120401</string>
			</dict>
			<dict>
				<key>name</key>
				<string>最新</string>
				<key>id</key>
				<string>120402</string>
			</dict>
			<dict>
				<key>name</key>
				<string>评价</string>
				<key>id</key>
				<string>120403</string>
			</dict>
		</array>
	</array>
	<array>
		<string>悬疑</string>
		<array>
			<dict>
				<key>name</key>
				<string>综合</string>
				<key>id</key>
				<string>120701</string>
			</dict>
			<dict>
				<key>name</key>
				<string>最新</string>
				<key>id</key>
				<string>120702</string>
			</dict>
			<dict>
				<key>name</key>
				<string>评价</string>
				<key>id</key>
				<string>120703</string>
			</dict>
		</array>
	</array>
	<array>
		<string>历史</string>
		<array>
			<dict>
				<key>name</key>
				<string>综合</string>
				<key>id</key>
				<string>130101</string>
			</dict>
			<dict>
				<key>name</key>
				<string>最新</string>
				<key>id</key>
				<string>130102</string>
			</dict>
			<dict>
				<key>name</key>
				<string>评价</string>
				<key>id</key>
				<string>130103</string>
			</dict>
		</array>
	</array>
	<array>
		<string>文化</string>
		<array>
			<dict>
				<key>name</key>
				<string>综合</string>
				<key>id</key>
				<string>130501</string>
			</dict>
			<dict>
				<key>name</key>
				<string>最新</string>
				<key>id</key>
				<string>130502</string>
			</dict>
			<dict>
				<key>name</key>
				<string>评价</string>
				<key>id</key>
				<string>130503</string>
			</dict>
		</array>
	</array>
	<array>
		<string>爱情</string>
		<array>
			<dict>
				<key>name</key>
				<string>综合</string>
				<key>id</key>
				<string>140101</string>
			</dict>
			<dict>
				<key>name</key>
				<string>最新</string>
				<key>id</key>
				<string>140102</string>
			</dict>
			<dict>
				<key>name</key>
				<string>评价</string>
				<key>id</key>
				<string>140103</string>
			</dict>
		</array>
	</array>
	<array>
		<string>旅行</string>
		<array>
			<dict>
				<key>name</key>
				<string>综合</string>
				<key>id</key>
				<string>140201</string>
			</dict>
			<dict>
				<key>name</key>
				<string>最新</string>
				<key>id</key>
				<string>140102</string>
			</dict>
			<dict>
				<key>name</key>
				<string>评价</string>
				<key>id</key>
				<string>140103</string>
			</dict>
		</array>
	</array>
	<array>
		<string>经济</string>
		<array>
			<dict>
				<key>name</key>
				<string>综合</string>
				<key>id</key>
				<string>150301</string>
			</dict>
			<dict>
				<key>name</key>
				<string>最新</string>
				<key>id</key>
				<string>150302</string>
			</dict>
			<dict>
				<key>name</key>
				<string>评价</string>
				<key>id</key>
				<string>150303</string>
			</dict>
		</array>
	</array>
	<array>
		<string>互联网</string>
		<array>
			<dict>
				<key>name</key>
				<string>综合</string>
				<key>id</key>
				<string>160201</string>
			</dict>
			<dict>
				<key>name</key>
				<string>最新</string>
				<key>id</key>
				<string>160202</string>
			</dict>
			<dict>
				<key>name</key>
				<string>评价</string>
				<key>id</key>
				<string>160203</string>
			</dict>
		</array>
	</array>
</array>
</plist>
